@{
    ViewData["Title"] = "TaxNumber";
}
@model PersonManagement.Models.TaxNumber;


<h1>Update Tax Number</h1>

@if (Model is null)
{
    <p>No data found</p>
}
else
{
    <form method="post">

        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Tax Number</label>
            <input type="text" class="form-control" asp-for="Number" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label class="form-label">Country</label>
            <select class="form-select" asp-items="@ViewBag.CountryList" asp-for="CountryId">
                <option></option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label class="form-label">Person</label>
            <input type="text" class="form-control" value="@ViewBag.PersonName" readonly />
            <select class="form-select" asp-items="@ViewBag.PersonList" asp-for="PersonId" hidden>
                <option></option>
            </select>
            <span asp-validation-for="PersonId" class="text-danger"></span>
        </div>

        <div class="mt-5">
            <a class="btn btn-primary" asp-controller="TaxNumber" asp-action="List">Back</a>
            <a class="btn btn-primary" asp-controller="TaxNumber" asp-action="Update">Reload</a>
            <button type="submit" class="btn btn-primary">Store</button>
            <button type="submit" class="btn btn-primary" asp-controller="TaxNumber" asp-action="Delete">Delete</button>
        </div>

    </form>
}
@*
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@